* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}


.col-7 {
    width: 58.33%;
    padding: 15px;
}

.col-5 {
    width: 41.67%;
    padding: 15px;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.col-6 {
    width: 50%;
    padding: 15px;
}

.col-12 {
    width: 100%;
    padding: 15px;
}

.box {
    border: 2px solid;
}

.box img {
    width: 100%;
    object-fit: contain;
}

ul {
    display: flex;
    gap: 20px;
}

ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Oxygen';
}

.header-container {
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0 20px;
    margin: 0 auto;
}

.header h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #111111;
}

h1 {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 86px;

}

.creative-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #333333;
}

.creative-section {
    padding: 136px 0;
}


.creativ-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 28px;
}

.title-wrapper {
    display: flex;
    margin: 30px;
}

.fon {
    background-color: #EBD7CC;
    text-align: center;

}

.title-h2 {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #1A1A1A;
    padding-top: 80px;
}


.paragraf-fon {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #333333;
    padding: 27px;

}

.main-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #3D67FF;
    margin-top: 20px;
    padding: 17px 57px 22px 55px;
    border-radius: 50px;
    border: none;

}

h2 {
    font-family: Oxygen;
    font-weight: 700;
    font-size: 64px;
    Line-height: 64px;

}

.description {
    font-family: Inter;
    font-weight: 400;
    margin-top: 25px;
}

img {
    object-fit: contain;
}

.padding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 30px;
    align-items: flex-start;
    padding-top: 145px;
}

.box div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}


.advantages-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.advantages-box h3 {
    margin-bottom: 30px;
}

.advantages-inner-box div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.advantages-inner-box {
    display: flex;
    gap: 20px;
}

.img-wrapper {
    margin-left: -150px;
}

.background {
    background-color: #E6EAF2;
}

.title-second {
    text-align: center;
    padding-top: 80px;

}

.background-second {
    background-color: #FFCB39;
}

.img-mac {
    margin-left: 80px;
}

.fon-in-moon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fon-in-moon h2 {
    padding: 15px;
}

.fon-in-moon p {
    padding: 10px;
}

.plus {
    display: flex;
    justify-content: space-between;
}

.baner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 170px;
    background-color: #e8e2e2;
}

.title-third {
    padding: 140px;
}

.title-third p {
    padding: 20px;
}

h5 {
    font-family: Oxygen;
    font-weight: 700;
    font-size: 18px;
    Line-height: 30.6px;
}


.second-btn {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F03125;
    margin-top: 120px;
    padding: 17px 57px 22px 55px;
    border-radius: 50px;
    border: none;

}

.Basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    max-width: 1300;
    height: 600px;
}

.popular {
    background-color: rgb(241, 178, 7);
}

.usd {
    font-family: Oxygen;
    font-weight: 700;
    font-size: 18px;
    Line-height: 23.04px;
}

.nomber {
    font-family: Oxygen;
    font-weight: 700;
    font-size: 64px;
    Line-height: 81.92px;

}

.fon-second {
    text-align: center;
    padding-top: 70px;
}

.third-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #7D5FBD;
    margin-top: 30px;
    padding: 17px 57px 22px 55px;
    border-radius: 50px;
    border: none;
}

.fifth-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #8FCA12;
    margin-top: 30px;
    padding: 17px 57px 22px 55px;
    border-radius: 50px;
    border: none;
}


nav {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.end {
    padding: 36px 0;
}

footer {
    color: black;
    display: flex;
    justify-content: space-between;
}